html{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(250,197,197,1) 0%, rgba(15,226,255,0) 100%);    font-size:10px;
    text-align: center;
}
body{
    font-size: 2rem;
    min-height: 100vh;
}
.hand{
    background:black;
    top:50%;
    height: 1px;
    border:2px solid;
    width: 50%;
    position: absolute;
    transform-origin: 100%; /*changes hand about right x-axis*/
    transform: rotate(90deg);
    transition: 0.04s;
    transition-timing-function: ease-in-out;
    border-radius: 20px;
}



.clock-face{
    position: relative;
    height:100%;
    transform:translateY(-3px);
    width: 100%;
    margin: auto;
}

.clock{
    margin:50px;
    width:30rem;
    height: 30rem;
    border: 1px solid;
    border-radius: 50%;
    padding:2rem;
    position: relative;
    box-shadow: 0 0 0px 4px,
        inset 0 0 0 3px,
        inset 0 0 10px black;
}

.container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title{
    display: inline-block;
    font-family: 'Kodchasan', sans-serif;
}

.klock{
    font-weight: bold;
    background: linear-gradient(90deg, rgb(100, 4, 163) 0%, rgb(253, 29, 134) 50%, rgb(251, 255, 8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.to-do-list{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    
}

#form{
    margin: 0 auto;
    width: 100%; max-width: 1500px; padding:2rem 1rem;
}
#task-input{
    flex: 1 1 0%;
    background-color: white;
    border:none;
    border-radius: 12px;
    padding: 1.3rem 2rem;
    margin-right: 1.3rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

input, button{
    border: none;
    background:none;
}